<navigation></navigation>

<!-- Main content -->
<div id="wrapper" class="container text-center">

    <div class="row content">
        <!-- Main content -->
        <div id="main_content" class="col-md-9 text-left">

            <!-- Register form -->
            <h2>Rekisteröidy</h2>

            <p class="text-center">
              <small>Kaikki tähdellä merkityt kentät ovat pakollisia</small>
            </p>

            <form ng-submit="vm.onSubmit()" class="form-horizontal">

                <div class="form-group">

                    <label class="control-label col-md-4" for="firstname">* Etunimi:</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="firstname" placeholder="Etunimi" ng-model="vm.credentials.firstname">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="lastname">* Sukunimi:</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="lastname" placeholder="Sukunimi" ng-model="vm.credentials.lastname">
                    </div>
                </div>

                <hr>

                <!-- Contact info -->

                <div class="form-group">
                    <label class="control-label col-md-4" for="streetAddress">* Osoite:</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="streetAddress" placeholder="Osoite" ng-model="vm.credentials.streetAddress">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="postalCode">* Postinumero:</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="postalCode" placeholder="Postinumero" ng-model="vm.credentials.postalCode">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="city">* Postitoimipaikka:</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="city" placeholder="Postitoimipaikka" ng-model="vm.credentials.city">
                    </div>
                </div>

                <!-- Change this to dropdown -->
                <div class="form-group">
                    <label class="control-label col-md-4" for="country">* Maa:</label>
                    <div class="col-md-5">
                        <select type="text" class="form-control" id="country" ng-model="vm.credentials.country">
                            <option value="Finland">Finland</option>
                            <option value="Sweden">Sweden</option>
                            <option value="Norway">Norway</option>
                            <option value="Denmark">Denmark</option>
                            <option value="Estonia">Estonia</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="birthday-days">* Syntymäpäivä:</label>
                    <div class="col-md-5">
                      <select id="birthday-days" ng-model="vm.birthdayPartials.birthdayDay"></select>
                      <select id="birthday-months" ng-model="vm.birthdayPartials.birthdayMonth"></select>
                      <select id="birthday-years" ng-model="vm.birthdayPartials.birthdayYear"></select>
                      <!--
                      <input type="text" class="form-control" id="birthday" ng-model="vm.credentials.birthday">
                      -->
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="phone">* Puhelinnumero:</label>
                    <div class="col-md-5">
                        <input type="tel" class="form-control" id="phone" placeholder="Puhelinnumero" ng-model="vm.credentials.phone">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="website">Kotisivu:</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="website" placeholder="Kotisivut" ng-model="vm.credentials.website">
                    </div>
                </div>

                <hr>

                <!-- Nickname, add check that if already in use -->
                <div class="form-group">
                    <label class="control-label col-md-4" for="nickname">* Käyttäjänimi:</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="nickname" placeholder="Alias" ng-model="vm.credentials.nickname">
                    </div>
                </div>

                <hr>

                <div class="form-group">
                    <label class="control-label col-md-4" for="email">* Sähköposti:</label>
                    <div class="col-md-5">
                        <input type="email" class="form-control" id="email" placeholder="Sähköposti" ng-model="vm.credentials.email">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="password">* Salasana:</label>
                    <div class="col-md-5">
                        <input type="password" class="form-control" id="password" placeholder="Salasana" ng-model="vm.credentials.password">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="verifyPassword">* Kirjoita salasana uudelleen:</label>
                    <div class="col-md-5">
                        <input type="password" class="form-control" id="verifyPassword" placeholder="Salasana" ng-model="vm.credentials.verifyPassword">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">* Hyväksyn käyttöehdot:</label>
                    <div class="col-md-5">
                        <div class="checkbox">
                            <label><input type="checkbox" name="terms" ng-model="vm.credentials.agreesTOS" required>
                                <a href="" data-toggle="modal" data-target="#terms">Palvelun käyttöehdot</a>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="rules">* Hyväksyn säännöt:</label>
                    <div class="col-md-5">
                        <div class="checkbox">
                            <label><input type="checkbox" name="rules" ng-model="vm.credentials.agreesRules" required>
                                <a href="" data-toggle="modal" data-target="#rules">
                                    Palvelun säännöt</a>
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Modal for terms -->
                <div class="modal fade" id="terms">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Käyttöehdot</h4>
                            </div>
                            <div class="modal-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo.<br><br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                            <div class="modal-footer">
                                <span>
                                    <button type="button" id="checkboxterms" class="btn btn-success" data-dismiss="modal">Hyväksyn</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">En hyväksy</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal for rules -->
                <div class="modal fade" id="rules">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Palvelun säännöt</h4>
                            </div>
                            <div class="modal-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo.<br><br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                            <div class="modal-footer">
                                <span>
                                    <button type="button" id="checkboxrules" class="btn btn-success" data-dismiss="modal">Hyväksyn</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">En hyväksy</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <button type="submit" class="btn btn-default">Lähetä</button>
                    </div>
                </div>

                <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>

                <script>
                    $('#checkboxterms').click(function() {
                        $('input[name=terms]').prop('checked', true);
                    });

                    $('#checkboxrules').click(function() {
                        $('input[name=rules]').prop('checked', true);
                    });
                </script>

            </form>
            <!-- /.form-horizontal -->
        </div>
    </div>
</div>

<footer-generic></footer-generic>

<script type="text/javascript">
  $(function () {

          for (i = new Date().getFullYear() ; i > 1900; i--) {
              $('#birthday-years').append($('<option />').val(i).html(i));
          }

          for (i = 1; i < 13; i++) {
              $('#birthday-months').append($('<option />').val(i).html(i));
          }
          updateNumberOfDays();

          $('#birthday-years, #birthday-months').change(function () {

              updateNumberOfDays();

          });

      });

      function updateNumberOfDays() {
          $('#birthday-days').html('');
          month = $('#birthday-months').val();
          year = $('#birthday-years').val();
          days = daysInMonth(month, year);

          for (i = 1; i < days + 1 ; i++) {
              $('#birthday-days').append($('<option />').val(i).html(i));
          }

      }

      function daysInMonth(month, year) {
          return new Date(year, month, 0).getDate();
      }
</script>
