<!-- Register form -->
<h2>Rekisteröidy</h2>
<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-md-4" for="name">Etunimi:</label>
    <div class="col-md-5">
      <input type="text" class="form-control" id="name" placeholder="Etunimi">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4" for="lastname">Sukunimi:</label>
    <div class="col-md-5">
      <input type="text" class="form-control" id="lastname" placeholder="Sukunimi">
    </div>
  </div>

  <hr>

  <!-- Contact info -->
  <div class="form-group">
    <label class="control-label col-md-4" for="address">Osoite:</label>
    <div class="col-md-5">
      <input type="text" class="form-control" id="address" placeholder="Osoite">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4" for="postalcode">Postinumero:</label>
    <div class="col-md-5">
      <input type="text" class="form-control" id="postalcode" placeholder="Postinumero">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4" for="city">Postitoimipaikka:</label>
    <div class="col-md-5">
      <input type="text" class="form-control" id="city" placeholder="Postitoimipaikka">
    </div>
  </div>

  <!-- Change this to dropdown -->
  <div class="form-group">
    <label class="control-label col-md-4" for="country">Maa:</label>
    <div class="col-md-5">
      <input type="text" class="form-control" id="country" placeholder="Maa">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4" for="phonenumber">Puhelinnumero:</label>
    <div class="col-md-5">
      <input type="tel" class="form-control" id="phonenumber" placeholder="Puhelinnumero">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4" for="webpage">Kotisivut:</label>
    <div class="col-md-5">
      <input type="text" class="form-control" id="webpage" placeholder="Kotisivut">
    </div>
  </div>

  <hr>

  <!-- Nickname, add check that if already in use -->
  <div class="form-group">
    <label class="control-label col-md-4" for="nickname">Pelaaja nimi:</label>
    <div class="col-md-5">
      <input type="text" class="form-control" id="nickname" placeholder="Pelaaja nimi">
    </div>
  </div>

  <hr>

  <div class="form-group">
    <label class="control-label col-md-4" for="email">Sähköposti:</label>
    <div class="col-md-5">
      <input type="email" class="form-control" id="email" placeholder="Sähköposti">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4" for="pwd">Salasana:</label>
    <div class="col-md-5">          
      <input type="password" class="form-control" id="pwd" placeholder="Salasana">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4" for="pwd2">Kirjoita salasana uudelleen:</label>
    <div class="col-md-5">          
      <input type="password" class="form-control" id="pwd2" placeholder="Salasana">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4" for="terms">Käyttöehdot:</label>
    <div class="col-md-5">
      <div class="checkbox">
        <label><input type="checkbox" name="terms"> Hyväksyn käyttöehdot</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4" for="rules">Säännöt:</label>
    <div class="col-md-5">
      <div class="checkbox">
        <label><input type="checkbox" name="rules"> Hyväksyn palvelun säännöt</label>
      </div>
    </div>
  </div>

  <div class="form-group">        
    <div class="col-md-offset-4 col-md-5">
      <button type="submit" class="btn btn-default">Lähetä</button>
    </div>
  </div>
</form><!-- /.form-horizontal -->
