/* ----- Navigation ----- */

.navbar {
  background-color: #555;
  margin-bottom: 0;
  border-radius: 0;
  border-color: #555;
  font-size: 16px
}

.navbar-brand {
  padding: 0px;
  margin-right: 10px;
}

.navbar-nav a {
  color: #fff !important;
  /*font-weight: bold;*/
}

.navbar .dropdown-menu {
  background-color: #555 !important;
}

.nav-avatar {
  margin-top: 10px;
}

.dropdown-toggle:active, .open .dropdown-toggle {
  background: #555 !important; 
  color: #ccc !important;
}

.dropdown-toggle:active, a:hover {
  background: #555 !important; 
  color: #ccc !important;
}

.navbar-default .navbar-nav > .active{
  color: #fff;
  background: #636363;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background: #636363;
}

/* ----- Alert box ----- */

#alertbox {
  margin-bottom: 0px;
  margin-top: 10px;
}

/* ----- Content ----- */

#wrapper {
  margin-top: 10px
  /*background-color: #ccc;*/
  /*margin-bottom: 10px;*/
}

#main_content {
  min-height: 800px;
  background-color: #fff;
}

/*
#adbanner-left {
  margin-top:10px;
}
*/

.button-fix {
  margin-top: 15px;
}

.row.content {
  height: 800px;
}

.sidenav {
  height: 100%;
  border-radius: 0;
  /*margin-top:10px;*/
  /*background-color: dimgray;*/
}

.panel {
  border-radius: 0 !important;
  border: none !important;
  margin-bottom: 10px;
}

/* Panel heading colours */

.custom-colors {
  background-color: #067499 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 0 !important;
}

.panel-body {
  height: auto;
  border:
}

.list-group {
  margin: 0;
}

.list-group-item {
  font-size: 13px;
  border-radius: 0 !important;
}

/* ----- Common tags ----- */

body {
  background-image: url('../images/background1.jpg');
  background-attachment: fixed;
  background-position: center center fixed;
  background-repeat: no-repeat;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

.footer-sponsor-logo-container {
  max-width: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#navbar-brand {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 15px;
  max-width:50px;
  max-height:50px;
}

/*.footer-sponsor-logo {
  border-radius: 50%;
}*/

/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  }
}
