body {
  background-image: url('../images/background1.jpg');
  background-position: center center fixed;
  background-repeat: no-repeat;
}

/* Navigation */
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 10px;
  border-radius: 0;
  font-size: 16px;
}

.navbar-brand {
  /*padding: 0px;*/
  margin-right: 10px;
}

#alertbox {
  margin-bottom: 10px;
}

/*img {
  display: block;
  max-width:50px;
  max-height:50px;
  width: auto;
  height: auto;
}*/

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 800px;
}

.sidenav {
  height: 100%;
  background-color: dimgray;
}

/* Content */
#wrapper {
  background-color: #ccc;
  margin-bottom: 10px;
}

#main_content {
  background-color: azure;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
  height: 200px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height:auto;
  } 
}
