<!-- Navigation -->
<navigation></navigation>

<!-- Alert / info / notification -->
<notification></notification>

<!-- Main content -->
<div id="wrapper" class="container text-center">

  <div class="row content">

    <!-- Content -->
    <div id="main_content" class="col-md-9 text-left">
      
      <div class="row">
        <div class="col-md-9">
          <h3>Joukkuerekisteri</h3>
        </div>
        
        <div class="col-md-3 text-right">
          <!-- Button trigger modal -->
          <span>
            <button class="btn btn-primary btn-md button-fix" data-toggle="modal" data-target="#myModalNorm" ng-show="vm.isLoggedIn()">
              Lisää uusi joukkue
            </button>
          </span>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Sulje</span>
              </button>

              <h4 class="modal-title" id="myModalLabel">Lisää uusi joukkue</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
              <form ng-submit="vm.onSubmit()" role="form">
                <div class="form-group">
                  <label for="teamName">Joukkueen nimi</label>
                  <input type="text" class="form-control" id="teamName" placeholder="Joukkueen nimi" ng-model="vm.credentials.name"/>
                </div>

                <div class="form-group">
                  <label for="additionalInfo">Info</label>
                  <input type="text" class="form-control" id="additionalInfo" placeholder="Info" 
                         ng-model="vm.credentials.additionalInfo"/>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-info" class="col-md-offset-4 col-md-5" ng-click="vm.createTeam()">Lisää</button>
                </div>
              </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Sulje</button>
            </div>

          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading custom-colors">
          <h2 class="panel-title">Joukkueet</h2>
        </div>
        
        <div class="panel-body">
          <div class="list-group" ng-repeat="team in vm.teams">
            <a ng-href="team/{{ team._id }}" class="list-group-item" style="margin-bottom: 2px;">{{ team.name }}</a>
          </div>
        </div>
        
      </div>
    </div>

    <!-- Sidenav -->
    <side-navigation></side-navigation>

  </div><!-- /.row content -->
</div><!-- /#wrapper -->

<!-- Footer -->
<footer-generic></footer-generic>
